In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
import warnings
warnings.filterwarnings('ignore')

/kaggle/input/amazon-stock-price-all-time/Amazon.csv

In [2]:
df = pd.read_csv("/kaggle/input/amazon-stock-price-all-time/Amazon.csv")

In [3]:
df.head(10)

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200
5  1997-05-22  1.437500  1.447917  1.312500  1.395833   1.395833  11776800
6  1997-05-23  1.406250  1.520833  1.333333  1.500000   1.500000  15937200
7  1997-05-27  1.510417  1.645833  1.458333  1.583333   1.583333   8697600
8  1997-05-28  1.625000  1.635417  1.531250  1.531250   1.531250   4574400
9  1997-05-29  1.541667  1.541667  1.479167  1.505208   1.505208   3472800

In [4]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
df.shape

(6155, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6155 entries, 0 to 6154
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6155 non-null   object
 1   Open       6155 non-null   float64
 2   High       6155 non-null   float64
 3   Low        6155 non-null   float64
 4   Close      6155 non-null   float64
 5   Adj Close  6155 non-null   float64
 6   Volume     6155 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 336.7+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,6155.0,5.205563e+02,8.571617e+02,1.406250,3.875000e+01,9.267000e+01,5.289500e+02,3.744000e+03
High,6155.0,5.262161e+02,8.658210e+02,1.447917,3.951500e+01,9.419000e+01,5.353050e+02,3.773080e+03
Low,6155.0,5.142773e+02,8.472709e+02,1.312500,3.810500e+01,9.075000e+01,5.219500e+02,3.696790e+03
Close,6155.0,5.204298e+02,8.566685e+02,1.395833,3.882125e+01,9.264000e+01,5.294500e+02,3.731410e+03
Adj Close,6155.0,5.204298e+02,8.566685e+02,1.395833,3.882125e+01,9.264000e+01,5.294500e+02,3.731410e+03
Volume,6155.0,7.329010e+06,7.149521e+06,487200.000000,3.579350e+06,5.470000e+06,8.294950e+06,1.043292e+08

In [8]:
train, test = train_test_split(df, test_size = 0.2)

In [9]:
train.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
5875,2020-09-18,3031.739990,3037.800049,2905.540039,2954.909912,2954.909912,8892600
353,1998-10-08,13.812500,14.666667,13.333333,14.364583,14.364583,30384600
1032,2001-06-19,12.450000,12.650000,11.200000,11.360000,11.360000,6109500
1025,2001-06-08,16.250000,16.330000,15.650000,15.700000,15.700000,2508300
1578,2003-08-25,44.849998,46.160000,44.529999,45.849998,45.849998,7103500
5516,2019-04-17,1872.989990,1876.469971,1860.439941,1864.819946,1864.819946,2893500
4101,2013-09-03,284.730011,291.390015,284.170013,288.799988,288.799988,2897600
2684,2008-01-16,79.580002,82.360001,78.440002,80.349998,80.349998,12407000
2399,2006-11-27,42.180000,42.799999,40.720001,40.849998,40.849998,8972800
3047,2009-06-25,79.099998,82.230003,79.029999,82.199997,82.199997,7360400

In [10]:
test.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
780,2000-06-19,45.500000,45.875000,43.500000,45.312500,45.312500,5151500
1667,2003-12-31,52.820000,53.480000,52.400002,52.619999,52.619999,5307200
5483,2019-03-01,1655.130005,1674.260010,1651.000000,1671.729980,1671.729980,4974900
1509,2003-05-16,32.509998,33.160000,32.380001,33.049999,33.049999,7644100
474,1999-04-05,86.312500,93.750000,85.875000,93.250000,93.250000,15916800
2468,2007-03-09,38.480000,38.889999,38.000000,38.840000,38.840000,6200100
3272,2010-05-18,130.139999,131.250000,125.510002,126.279999,126.279999,5256900
5759,2020-04-03,1911.150024,1926.329956,1889.150024,1906.589966,1906.589966,3609900
3345,2010-08-31,122.849998,125.900002,122.500000,124.830002,124.830002,4225600
1776,2004-06-08,51.299999,52.119999,51.099998,51.939999,51.939999,5994700

In [11]:
x_train = train[['Open', 'High', 'Low', 'Volume']].values
x_test = test[['Open', 'High', 'Low', 'Volume']].values

In [12]:
y_train = train['Close'].values
y_test = test['Close'].values

In [13]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [14]:
y_pred = model.predict(x_test)

In [15]:
result = model.predict([[2.437500, 2.500000, 1.927083, 72156000]])
print(result)

[1.79285433]